@import url(https://fonts.googleapis.com/css?family=Chewy);

body{
  background-color: #5bc0eb; /*skyblue*/
  font-family: 'Chewy', cursive;
  /*This font is more clubpenguin-ey*/
}

.day{
  background-color: #425af4;
  border: 1px solid black;
}
.day-box {
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 50px; /*creates space between day-boxes*/
}
.person_info {

}
.nav {
  background-color: #1d98e9;
  background-image: linear-gradient(to bottom right, #0086b3, #00bfff);
  font-size: 30px;
  text-align: center;
  word-spacing: 60px;
  border: 3px solid black;
  border-radius: 20px;
}

.nav a{
  color: white;
  text-decoration: none;
}
.nav a:hover {
  color: yellow /* text turns yellow when hover */
  /* background-color: #425af4; */
}
.PREP {

}
.CURRENT {
  border: 4px solid green;
}
.COMPLETED {

}
.person_image {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
}
.assignment-label {
  font-size: 40px;
  margin-left: 10px; /*this pushes the assignment text to the left */
  /* but we need to find a way to push the text below it to the left */
  /* currently the text has no class or selector */
}
.reading {
  border: 1px solid black;
  background-color: #fcfcfc;
}
.grading-box {
  border: 1px solid black;
  background-color: #fcfcfc;
}
.prep-box {
  border: 1px solid black;
  background-color: #fcfcfc;
}

.prep-box .assignment-label{
  content:url(images/realPREPPY.png);
  height: 121px;
  width: 217px;
}

.grading-box .assignment-label{
  content:url(images/clubpenguingradeREAL.png);

}
.reading .assignment-label{
  content:url(images/realPENGUINreading.png);
}
.lab-box .assignment-label{
  content:url(images/penguinlabREAL.png);

}
.lab-box {
  border: 1px solid black;
  background-color: #fcfcfc;
}
.username {
  font-size: 20px;
  /* There doesn't seem to be a clean way to center this under the user image. */
}

.grade{
  color: red;
  font-size: 50px;
  /* background-color: green; */
}
.assignment-label, .assignment-title, .grade {
  margin-left: 10px;
}

/* svg.style {

svg.style {

  border: 3px solid black
  border-radius: 15px
  margin-top: 10px
  background-color: lightgray
}
}

*/

input[type = "submit"]{
  padding:20px 60px;
 background-color: #1d98e9;
 border: none;
 outline: none;
 border-radius:6px;
 /* set a shadow below button so button looks like its moving */
 box-shadow: 0 7px #95a5a6;
}

input[type = submit]:hover{
  /* makes the background lighter when the mouse hovers over it */
   background-color: #63b6ed;
}

input[type = submit]:active{
  background-color: #1d98e9;
  /* shrink box shadow */
  box-shadow: 0 5px #95a5a6;
  /* move button down to go over shadow */
  transform: translateY(4px);
}

label{
  display: block;
}
