body{
  /* background-color: red; */
}

.day{
  background-color: #e242f4;

}
.day-box {
  border: 3px solid black;
}
.person_info {

}
.nav {

}
.PREP {

}
.CURRENT {
  color: green;
}
.COMPLETED {

}

