body{
  /* background-color: red; */
  font-family: 'Bubblegum Sans', cursive;
  /*This font is more clubpenguin-ey*/
}

.day{
  background-color: #e242f4;

}
.day-box {
  border: 3px solid black;
  margin-bottom: 50px
}
.person_info {

}
.nav {
  background-color: #1d98e9;
  font-size: 30px;
  text-align: center;
  word-spacing: 15px;
  border-radius: 20px;
}

.nav a{
  color: white;
  text-decoration: none;
}
.PREP {

}
.CURRENT {
  color: green;
}
.COMPLETED {

}
.person_image {
  width: 300px;
  height: 300px;
}
.assignment-label {
  font-size: 40px;
}
.reading {
  border: 1px solid black;
}
.grading-box {
  border: 1px solid black;
}

input[type = "submit"]{
  padding:20px 60px;
 background-color: #1d98e9;
 border: none;
 outline: none;
 border-radius:6px;
 /* set a shadow below button so button looks like its moving */
 box-shadow: 0 7px #95a5a6;
}

input[type = submit]:hover{
  /* makes the background lighter when the mouse hovers over it */
   background-color: #63b6ed;
}

input[type = submit]:active{
  background-color: #1d98e9;
  /* shrink box shadow */
  box-shadow: 0 5px #95a5a6;
  /* move button down to go over shadow */
  transform: translateY(4px);
}
